<td>
    {{ broadcast.name }}
</td>
<td>
    {{ broadcast.tvChannel }}
</td>
<td>
    {{ broadcast.startDate | date("d/m/Y H:i:s") }}
</td>
<td>
    {{ broadcast.endDate | date("d/m/Y H:i:s") }}
</td>
